button {
    border: 0px;
    border-radius: 20px;
    box-shadow: $b-shadow;
    cursor: pointer;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    width: 50%;
    margin: auto;
    height: 40px;
   @include tablette {
        width: 25%;
   }
   @include desktop {
        width: 17%;
   }
    &:hover {
        transform: scale(1,1.1);
        background: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
   } 
}
.direction {
     display: flex;
     justify-content: center;
     margin: 50px 0px 50px 0px
     
}