button {
    border: 0px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 1px;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
 }