@keyframes appear {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
 
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes spinner-cercle {

        to {
            transform: rotate(360deg);
        }
}
@keyframes spinner-loader {
    to {
        transform: scale(0)
    }
}
// Check qui apparait (grosseur etc..)
@keyframes checkitems {
    from {
        opacity: 1;
        width: 0%;
    }
    to {
        opacity: 1;
        width: 20%;
    }
}
.spinnerbackground {
   position: absolute;
   opacity: 30%;
   background-color: $secondary-color;
   width: 100%;
   height: 100%;
}
.spinnerloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    animation: spinner-loader 0s ease 2s forwards
    
}
.spinner-cercle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    border: 5px dotted $primary-color;
    border-radius: 50%;
    animation: spinner-cercle 3s cubic-bezier(1,-0.32, 0.38, 1.07) infinite;  
}

.spinner-3points {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    animation: spinner-cercle reverse 2000ms linear infinite;
}

    .spinner-point {
        height: 21px;
        width:  21px;
        background-color: $secondary-color;
        border-radius: 50%;
     
        
    }