body {
    margin: 0%;
}

.contenuPrincipal {
    padding : 0 15px;
}

h1 {
    margin-top : 0;
}
h3 {
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.fas.fa-heart {
    display: none;
}
.fa-heart {
    font-size: 27px;
}