.function {
    border-radius: 20px;
    box-shadow:$b-shadow;
    margin-bottom: 25px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    font-weight: bold;
    background-color: lighten($fond-foot,75%);
    &__numbers {
       background-color: $primary-color;
       position: absolute;
       left : -15px;    
       padding: 2px 7px;
       border-radius: 100%;
       color: white;
    }
    & i {
        color: lighten($fond-foot, 20%); 
    } 
    &:hover {
        background-color: lighten($primary-color, 35%);
        & i{
            color: $primary-color;
        }
        
    }
}


    .p-target {
    border-bottom: 3px solid green;
    }

.backgroundRestau {
    background-color: lighten($fond-foot,75%);
    padding-top: 15px;
}